body{
    background-color: rgba(169, 169, 169, 0.25);
}
h5{
    text-transform: uppercase;
}

.logo{
    max-width: 200px;
}

.texto-negro{
    color: black !important; 
}

.box-size{
    height: 218px;
    overflow-y: scroll;
}