<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3">
			  	<div class="card-header bg-success">
			  		<h5 class="card-title">Pedidos Total</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3">
			  	<div class="card-header bg-success">
			  		<h5 class="card-title">Pedidos Entregados</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3">
			  	<div class="card-header bg-success">
			  		<h5 class="card-title">Pedidos Pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>