{% extends 'resto/base.html' %}

{% block content %}

<div class="container-fluid">

{% include 'resto/estado.html' %}

<br>
    <div class="row">
        <div class="col-md-5">
            <h5>CLIENTES</h5>
            <hr>
            <div class="btn-wrap d-flex justify-content-center mb-3">
                <a href="" class="btn btn-primary btn-sm btn-block">Crear Cliente</a>
            </div>
            <div class="card card-body box-size">
                <table class="table table-sm">
                    <tr><th></th>
                        <th>Cliente</th>
                        <th>Telefono</th>
                    </tr>
                    {% for cliente in clientes %}
                        <tr>
                            <td><a href="{% url 'cliente' cliente.id %}">VER</a></td>
                            <td>{{cliente.name}}</td>
                            <td>{{cliente.phone}}</td>
                        </tr>
                        {% endfor %}
                </table> 
            </div>
        </div>
        <div class="col-md-7">
            <h5>ULTIMOS PEDIDOS</h5>
            <hr>
            <div class="btn-wrap d-flex justify-content-center">
                <a href="{% url 'crear_pedido' %}" class="btn btn-primary btn-sm btn-block mb-3">Crear Pedido</a>
            </div>
            <div class="card card-body box-size">
                <table class="table table-sm">
                    <tr>
                        <th>Producto</th>
                        <th>Fecha Pedido</th>
                        <th>Estado</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                    {% for pedido in pedidos %}
					<tr>
						<td>{{pedido.producto}}</td>
						<td>{{pedido.fecha_creacion}}</td>
						<td>{{pedido.status}}</td>
						<td><a href="">Actualizar</a></td>
						<td><a href="">Borrar</a></td>

					</tr>
				    {% endfor %}
                </table> 
            </div>
        </div>
    </div>
</div>

{% endblock %}




