<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de busqueda de clientes</title>
</head>
<body>
<h1>BUSQUEDA DE CLIENTE</h1>
    <form action="{% url 'resultadobusquedacliente' %}" method="GET">
        <input type="text" name="nombre" id="nombre">
        <input type="submit" value="Enviar">
    </form>
    {{ mensaje }}
</body>
</html>